body {
  background: #fafafa;
  position: relative;
}

.mdl-color--primary {
color: white;
}
.mdl-layout__header-row{
margin-bottom: 5vh;
}

.mdl-card {
    width:60%;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.mdl-textfield{
width: 40%!important;
margin-left: 10px;
margin-right: 10px;
}

.mdl-textfield__error {
visibility: visible!important;
}

.hotel-container {
display: inline-flex;
}
.offers-title {
margin-left : 20px;
color: white;
}

.info-label{
color: gray;
font-size: 1em;
}

.info-text{
color: black;
font-size: 1.25em;
}

img {
margin-right: 20px;
}